.row {
    display: flex;
    padding: 20px;
    
  }
  
  /* Create two equal columns that sits next to each other */
  .col {
    flex: 50%;
    padding: 10px;
    height: 100%; /* Should be removed. Only for demonstration */
    overflow: auto;
  }
  .res{
    flex: 50%;
    padding: 10px;
    height: 100%; /* Should be removed. Only for demonstration */
    width: auto;
  }